.chat {
    display: flex;
    /*grid-template-columns: 3fr 5fr;*/
    background-color: #cffcdf;
    border-radius: 10px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    align-items: flex-end;
}

.chat img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-self: flex-start;
    margin-right: 10px;
}


.message {
    margin-top: 5px;
    color: #fff;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "n t" "m t";
    background-color: green;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    align-self: flex-start;
    word-wrap: break-word;
}

.message .name {
    color: #befcb6;
    grid-area: n;
    font-weight: bold;
}

.message .text {
    grid-area: m;
}

.message .time {
    color: #033c00;
    grid-area: t;
    align-self: end;
}

