.list {
    margin-left: 20px;
}

.name {
 margin-right: 5px;
}

.priority {
    margin-left: 10px;
    font-weight: bold;
    color: blueviolet;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.black {
    color: black
}